[submodule "examples/MinimalTemplate/sketchbook/libraries/Adafruit_GFX"]
	path = examples/MinimalTemplate/sketchbook/libraries/Adafruit_GFX
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
